extends layout

block content
	.section
		.container
			.row
				div(class='twelve columns')
					h1.major= title
			.row
				div(class='twelve columns')
					h5.major // new pad
			.row
				div(class='six columns')
					label Pad name
					input(type='text' id='newPadID' name='newPadID')
				div(class='six columns')
					button#create.button-primary.u-pull-right='create pad'
			.row
				div(class='twelve columns')
					h5.major // pads
			.row
				div(class='twelve columns')
					table(class='u-full-width' id='padList' style='display: none;')
						thead
							tr
								th Pad ID
								th Actions
					

block modals
	// join a pad
	#modalJoin.modal
		.modal-content
			.modal-header
				span.close &times;
				h1.major // Join pad
			.modal-body
				.row
				div(class='twelve columns')
					label Username
					input(class='transparent-input' type='text' id='username' name='username')
			.modal-footer
				button.button.button-transparent.button-close='close'
				a#joinPad.button.button-primary-transparent.u-pull-right='join'

	// delete a pad
	#modalDelete.modal
		.modal-content
			.modal-header
				span.close &times
				h1.major // Delete pad
			.modal-body
				.row
				div(class='twelve columns')
					h4#deleteText.major Are you sure you want to delete the pad?
					p(id='deleteID' hidden)
			.modal-footer
				button.button.button-transparent.button-close='close'
				button#deletePad.button.button-danger-transparent.u-pull-right='delete'


block append scripts
	script(src='/javascripts/pads-index.js')