extends layout

block content
	.section
		.container
			.row
				div(class='twelve columns')
					h1.major= title
					p(id='padID' hidden)= id
					p(id='username' hidden)= username
					p(id='usercolor' hidden)= usercolor
			.row
				div(class='twelve columns')
					button#run.u-pull-right='run'
					button#stop.u-pull-right='stop'
			.row
				div(class='twelve columns')
					#epad

block append scripts
	script(src='/javascripts/pad.js' defer)